{% extends "diary/base.html" %}
{% load django_bootstrap5 %}




{% block content %}
    <form action="" method="post" novalidate>
        {% csrf_token %}
<style>
		textarea {
			width: 100%;
			height: 200px;
			padding: 50px;
			box-sizing: border-box;
			border: solid 2px #1E90FF;
			border-radius: 50px;
			font-size: 16px;
			resize: both;
		}


	</style>






        <div class="container text-center">

            <h1 > 짧은 단어로 일기 쓰기</h1>
             <small class="text-muted">오늘 하루를 단어 세 개로 표현해보세요!</small>

            <br>
            <br>
            <br>
            <br>


     <div class="row">
    <div class="col">
      <!--      날씨 선택 라디오 버튼 그룹-->
<div class="btn-group" role="group" aria-label="Basic radio toggle button group">
      <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked="" value="Sunny">
      <label class="btn btn-outline-primary" for="btnradio1"> <span class="form-selectgroup-label"><!-- Download SVG icon from http://tabler-icons.io/i/home -->
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-sun-high" width="100" height="40" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path d="M14.828 14.828a4 4 0 1 0 -5.656 -5.656a4 4 0 0 0 5.656 5.656z"></path>
          <path d="M6.343 17.657l-1.414 1.414"></path>
          <path d="M6.343 6.343l-1.414 -1.414"></path>
          <path d="M17.657 6.343l1.414 -1.414"></path>
          <path d="M17.657 17.657l1.414 1.414"></path>
          <path d="M4 12h-2"></path>
          <path d="M12 4v-2"></path>
          <path d="M20 12h2"></path>
          <path d="M12 20v2"></path>
       </svg>
        </span>

      </label>

      <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off" value="Clody">
      <label class="btn btn-outline-primary" for="btnradio2">
      <span class="form-selectgroup-label"><!-- Download SVG icon from http://tabler-icons.io/i/home -->
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-cloud" width="100" height="48" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path d="M6.657 18c-2.572 0 -4.657 -2.007 -4.657 -4.483c0 -2.475 2.085 -4.482 4.657 -4.482c.393 -1.762 1.794 -3.2 3.675 -3.773c1.88 -.572 3.956 -.193 5.444 .996c1.488 1.19 2.162 3.007 1.77 4.769h.99c1.913 0 3.464 1.56 3.464 3.486c0 1.927 -1.551 3.487 -3.465 3.487h-11.878"></path>
       </svg>
      </span></label>

      <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off" value="Rainy">
      <label class="btn btn-outline-primary" for="btnradio3"><span class="form-selectgroup-label"><!-- Download SVG icon from http://tabler-icons.io/i/home -->
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-umbrella" width="100" height="48" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path d="M4 12a8 8 0 0 1 16 0z"></path>
          <path d="M12 12v6a2 2 0 0 0 4 0"></path>
       </svg>
        </span></label>

      <input type="radio" class="btn-check" name="btnradio" id="btnradio4" autocomplete="off" value="Snowy">
      <label class="btn btn-outline-primary" for="btnradio4">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-snowman" width="100" height="50" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <path d="M12 3a4 4 0 0 1 2.906 6.75a6 6 0 1 1 -5.81 0a4 4 0 0 1 2.904 -6.75z"></path>
        <path d="M17.5 11.5l2.5 -1.5"></path>
        <path d="M6.5 11.5l-2.5 -1.5"></path>
        <path d="M12 13h.01"></path>
        <path d="M12 16h.01"></path>
     </svg></label>


    </div>




    </div>
    <div class="col">
     <!--        감정 라디오 버튼-->


 <div class="btn-group" role="group" aria-label="Basic radio toggle button group">


    <input type="radio" class="btn-check" name="b_btnradio" id="btnradi2" autocomplete="off" checked="" value="Cherrful">
    <label class="btn btn-outline-primary" for="btnradi2"> <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-mood-xd" width="100" height="45" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
      <circle cx="12" cy="12" r="9"></circle>
      <path d="M12 21a9 9 0 1 1 0 -18a9 9 0 0 1 0 18z"></path>
      <path d="M9 14h6a3 3 0 1 1 -6 0z"></path>
      <path d="M9 8l6 3"></path>
      <path d="M9 11l6 -3"></path>
   </svg></label>


      <input type="radio" class="btn-check" name="b_btnradio" id="btnradi1" autocomplete="off" value="Happy">
      <label class="btn btn-outline-primary" for="btnradi1"><span class="form-selectgroup-label"><!-- Download SVG icon from http://tabler-icons.io/i/home -->
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-mood-happy" width="100" height="45" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <circle cx="12" cy="12" r="9"></circle>
          <line x1="9" y1="9" x2="9.01" y2="9"></line>
          <line x1="15" y1="9" x2="15.01" y2="9"></line>
          <path d="M8 13a4 4 0 1 0 8 0m0 0h-8"></path>
       </svg>
        </span></label>



      <input type="radio" class="btn-check" name="b_btnradio" id="btnradi3" autocomplete="off" value="Neutral">
      <label class="btn btn-outline-primary" for="btnradi3"> <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-mood-empty" width="100" height="45" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <circle cx="12" cy="12" r="9"></circle>
        <line x1="9" y1="10" x2="9.01" y2="10"></line>
        <line x1="15" y1="10" x2="15.01" y2="10"></line>
        <line x1="9" y1="15" x2="15" y2="15"></line>
     </svg></label>

      <input type="radio" class="btn-check" name="b_btnradio" id="btnradi4" autocomplete="off" value="Depressed">
      <label class="btn btn-outline-primary" for="btnradi4"><span class="form-selectgroup-label"><!-- Download SVG icon from http://tabler-icons.io/i/home -->
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-mood-sad" width="100" height="45" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <circle cx="12" cy="12" r="9"></circle>
          <line x1="9" y1="10" x2="9.01" y2="10"></line>
          <line x1="15" y1="10" x2="15.01" y2="10"></line>
          <path d="M9.5 15.25a3.5 3.5 0 0 1 5 0"></path>
       </svg>
        </span></label>

      <input type="radio" class="btn-check" name="b_btnradio" id="btnradi5" autocomplete="off" value="Angry">
      <label class="btn btn-outline-primary" for="btnradi5"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-mood-angry" width="100" height="45" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <path d="M12 21a9 9 0 1 1 0 -18a9 9 0 0 1 0 18z"></path>
        <path d="M8 9l2 1"></path>
        <path d="M16 9l-2 1"></path>
        <path d="M14.5 16.05a3.5 3.5 0 0 0 -5 0"></path>
     </svg></label>

    </div>

    </div>
  </div>

<br>


  <div class="row">
    <div class="col">
      <h2> 단어 1 </h2>
{{ key_form.content1 }}

    </div>
    <div class="col">
      <h2> 단어 2 </h2>
        {{ key_form.content2 }}
    </div>
    <div class="col">
      <h2> 단어 3 </h2>
        {{ key_form.content3 }}
    </div>
  </div>
</div>





<br>
<br>






<input type="submit" class="btn btn-primary btn-lg" value="자동 생성" />


<!--직접 생성-->
    <button
      type="button"
      class="btn btn-primary btn-lg"
      data-bs-toggle="modal"
      data-bs-target="#goModal"
      data-bs-whatever=""
    >
      직접 생성
    </button>

    <div
      class="modal fade"
      id="goModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      style="display: none"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">
             직접 생성
            </h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <form action="" method="post" novalidate>
              <div class="mb-3">
                <label for="message-text" class="col-form-label">원하는 그림을 한 문장으로 작성해주세요. </label>

                  <div class="form-floating">
                  <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
                  <label for="floatingTextarea2">40자 이내</label>
                  </div>

              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              닫기
            </button>
              <input type="submit" class="btn btn-primary" value="그림 생성" />

<!--            <button type="button" class="btn btn-primary" href="/diary/">그림 생성</button>-->
          </div>
        </div>
      </div>
    </div>
    </form>
{% endblock %}



